     
 * {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Montserrat';
}

body {
    background-color: #596169; 
    Max-width: 100%;
}

#logo {
    margin-left: 30px;
    width: 170px;
}

.sidebar {
    position: fixed;
    height: 100%;
    width: 240px;
    background: black;
    transition: all 0.5s ease;
}

.sidebar.active {
    width: 60px;
}
 
.logo-details {
font-size:30px;
font-family: 'Montserrat';
color: rgb(247, 240, 240);
background-color: rgb(187, 131, 9);
text-align: center;
display: flex;
height: 90px;
align-items: center;
}

.heading{
    color: black;
    margin-bottom: 30px;
    margin-left:150px;
    padding: 30px 0;
    grid-column: 1/-1;
    text-align:center;
}

.sidebar .nav-links {
    margin-top: 10px;
}

.sidebar .nav-links li {
    position: relative;
    list-style: none;
    height: 50px;
}

.sidebar .nav-links li a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
}

.sidebar .nav-links li a.active {
    background: #dc8329b6;
}

.sidebar .nav-links li a:hover {
    background: #764411;
}

.sidebar .nav-links li i {
    min-width: 60px;
    text-align: center;
    font-size: 18px;
    color: rgb(120, 49, 49);
}

.sidebar .nav-links li a .links_name {
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
}

.sidebar .nav-links .log_out {
    position: absolute;
    bottom: 0;
    width: 100%;
}

form input{
    margin-bottom: 20px;
    font-size: 20px;
    font-family: 'Montserrat';   
    outline: 1;
    background-color: #fafcfd;

}
.imgs  {
    padding-left: 5%;
    margin-top:10%;
    padding-top:2%;
    padding-bottom: 5%;
}

.PacField{
    padding: 20px 25px;
    border: 2px solid black ;
    margin-left: 10px;
    margin-top: 10px;
}


.formGroup4{
    margin-left:240px;
    max-width: 100%;
    height: 20%;
    background:rgba(41, 48, 54, 0.936);
    padding: 0 30px 30px;
    color: #333;
}

/* .formGroup5{
    margin-left:240px;
    width: 100%;
    height: 20%;
    background:rgba(41, 48, 54, 0.936);
    padding: 0 30px 30px;
    color: #333; 
} */

.crudbutton{
    width: 170px;
    height: 45px;
    margin-top: 25px;
    padding: 10px 0;
    background: #dc8329b6;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 25px;
    cursor: pointer;
    box-shadow: 0 6px 5px rgba(0, 0, 0, 0.2);
    margin-left: 70px;
}
    
.headingform{
    padding-top:20px;
    padding-bottom:20px;
    font-size: 20px;
    color: white;
    font-weight: 300;
}

