*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
/* ::selection{
    color:white;
    background:blue;} */

body {
    background-color: lightgray;
    font-family: 'Montserrat';
    justify-content: content;
    min-height: 100vh;
}
.h2 {
    display: block;
    color: black;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
}
.menu {
    padding: 0 10px 30px 10px;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(350px,1fr));
    grid-gap: 20px 40px;
}
.heading{
    color: black;
    margin-bottom: 30px;
    padding: 30px 0;
    grid-column: 1/-1;
    text-align:center;
}
.categories{
    display:grid;
    position: relative;
    grid-template-rows: auto 1fr;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0,0,0.1);
}
.categories img{
    position:relative;
    width:100%;
    border-radius: 15px 15px 0 0;
}
h1{
    grid-column: 1/-1;
    text-align: center;
}
.details{
    padding: 20px 10px;
    display: grid;
    grid-template-rows: auto 1fr 50px;
    grid-row-gap: 15px;
}
.details-sub{
    display:grid;
    grid-template-columns: auto auto;
}
.details-sub h5{
    font-weight:600;
    font-size: 18px;
}
.details button{
    background-color:black;
    border:none;
    color: white;
    font-size: 16px;
    font-weight:600;
    border-radius: 5px;
    width: 180px;
    padding: 15px 20px;
    margin-top: 20px;
    
}
.details p{
    color: black;
    font-size: 15px;
    line-height: 28px;
    font-weight:400;
    align-self:stretch;
    margin-top: 20px;
}

hr{
  border-top: 3px solid black;
  padding: 50px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;  
}
li {
    float: left;
}

li a {
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
        background-color: white;
}

.active {
    background-color: lightgray;
    color: black;
}

.preview-box button{
    border-radius:50%;
    background-color:grey;
     color: black;
     border: none;
     padding: 10px 15px;
     }
 
 #close{
     padding: 10px;
     border-radius:50%;
     max-width: 35px;
 }
 
.wrapper{
    padding:10px;
     display:flex;
    align-items:center;
    justify-content: center;

}
.wrapper .gallery{
    display: flex;
    flex-wrap:wrap;
    
    
}
.gallery .image{
    width: calc(100%/3);
    padding:7px;
}
.gallery .image span{
    display: flex;
    width: 100%;
    overflow: hidden;
}
.gallery .image img{
    width: 100%;
    vertical-align: middle;
    transition: all 0.3s ease;
}
.gallery .image:hover img{
    transform: scale(1.1);
} 
 .preview-box{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    background: white;
    max-width: 700px;
    width: 100%;
    z-index: 5;
    opacity: 0;
    pointer-events: none;
    border-radius: 3px;
    padding: 0 5px 5px 5px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
}
.preview-box.show{
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
    transition: all 0.3s ease;
}
.preview-box .details{
    display: flex;
    align-items: center;
    padding: 12px 15px 12px 10px;
    justify-content: space-between;
}
.preview-box .details .title{
    display: flex;
    font-size: 18px;
    font-weight: 400;
}
.details .title p{
    margin: 0 5px;
}
.details .title p.current-img{
    font-weight: 500;
}
.preview-box .image-box{
    display: flex;
    width: 100%;
    position: relative;
}

.image-box .slide{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 30px;
    cursor: pointer;
    height: 50px;
    width: 60px;
    line-height: 50px;
    text-align: center;
    border-radius: 3px;
}

.slide.prev {
    left: 0px;

}
.slide.next {
    right: 0px;
}
 .image-box img{
    width: 100%;
    border-radius: 0 0 3px 3px;
}
.shadow{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    display: none;
    background: rgba(0,0,0,0.45);
}

/* @media(max-width: 1000px){ 
.gallery .image{
      width: calc(100% / 2);
    }
}
@media(max-width: 600px){
.gallery .image{
      width: 100%;
      padding: 4px;
    }
} */




