/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #565656;
}

h1 {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px;
    margin: 0;
}

form {
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}

form input[type="submit"] {
    background-color: #333;
    color: rgb(210, 177, 136);
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

h2 {
    margin-top: 20px;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
    color:#fff;
}

li {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 10px;
    margin: 10px 0;
    background-color: #1a1717;
}

form[name="update-form"],
form[name="delete-form"] {
    display: inline-block;
    margin: 0;
}

textarea[name="new_message"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Add more styles as needed */
